@charset "UTF-8";

/*———————————–———————————–
  Base Tags
———————————–———————————–*/

html {
  font-size: 62.5%;
}

body {
  color: #727272;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}

header {
  background: url("../images/ellekasai.jpg") no-repeat top right;
  background-size: cover;
}

header > div {
  padding: 10%;
  background-color: rgba(1, 1, 1, 0.7);
  box-sizing: border-box;
}

main {
  padding: 10% 0;
}

section {
  width: 80%;
  margin: 0 auto;
}

section + section {
  margin-top: 10%;
}

section p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

footer {
  padding: 10% 0;
  background-color: #dae2dd;
}

h1, h2, h3, h4 {
  color: #99a599;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -1px;
}

h1 > span {
  font-weight: 400;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  margin: 5% 0 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 + p {
  margin: 3% 0 0;
}

h4 {
  margin: 0 0 5%;
  font-size: 1.6rem;
  line-height: 1.2;
}

iframe {
  margin-top: 3%;
}

iframe + p {
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 3%;
  color: #99a599;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li + li {
  margin-top: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #3BAF65;
  text-decoration: none;
}

a:hover {
  color: #2A7B47;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*———————————–———————————–
  Row & Column
———————————–———————————–*/

.row {
  /*margin: -2rem 0 0 -2rem;*/
}

.row:before,
.row:after {
  content:"";
  display:block;
  overflow:hidden;
}

.row:after {
  clear:both;
}

.col {
  float: left;
  width: 100%;
}

.col + .col {
  margin-top: 5%;
}

.col-lg > h3 {
  margin: 7% 0 5%;
}

.col-lg_images > figure + figure {
  margin-top: 5%;
}

.col-lg_images + .col-lg_images {
  margin-top: 5%;
}

/*.col {
  float: left;
  margin: 2rem 0 0 2rem;
}

.col p {
  margin: 0;
}

.col p + p {
  margin-top: 0.5rem;
}

.col-sm {
  width: 22.5rem;
  height: 19rem;
}

.col-lg {
  width: 34.8rem;
}

.col-sm div {
  margin-bottom: 0.5rem;
}

.col-sm h3 {
  padding: 0.2rem 0 0;
}

.col-sm figure {
  margin-bottom: 1rem;
}*/

.col-sm > a {
  display: block;
  position: relative;
}

/*.col-sm > a:hover img {
  opacity: 0.6;
}*/

/*.col-lg div + div {
  margin-top: 2rem;
}

.col-lg_images {
  text-align: center;
}

.col-lg_images figure {
  display: inline-block;
  width: 16rem;
}

.col-lg_images figure + figure {
  margin-left: 2rem;
}*/

/*———————————–———————————–
  Contact
———————————–———————————–*/

.contact {
  margin-top: 10%;
}

.contact ul {
  text-align: center;
}

.contact > h2 {
  width: 100%;
}

.contact > p {
  margin: 0;
  color: #99a599;
  font-size: 1.4rem;
}

.contact li {
  display: inline-block;
}

.contact li + li {
  margin-left: 1.5rem;
}

.contact a {
  color: #99a599;
}

.contact a:hover {
  color: #737B73;
}

.contact i {
  font-size: 3rem;
}

header .contact {
/*  position: absolute;
  bottom: 8rem;
  left: 5rem;*/
/*  width: 40rem;*/
}

footer .contact {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/*———————————–———————————–
  Backgrounds
———————————–———————————–*/

section.bg-sales {
  width: 100%;
  padding: 10% 0;
  background: url("../images/sales-white.jpg") no-repeat center center;
  background-size: cover;
}

.bg-sales_inner {
  width: 80%;
  margin: 0 auto;
}

/*———————————–———————————–
  Media Querys
———————————–———————————–*/

@media screen and (min-width: 24em) {
}

@media screen and (min-width: 46.8em) {
}

@media screen and (min-width: 50em) {
}

@media screen and (min-width: 73em) {
}

/*@media screen and (max-width: 1439px) {
  section {
    width: 76vw;
  }
  .row {
    margin: -5% 0 0 -3.3%;
  }
  .col {
    margin: 5% 0 0 3.3%;
  }
  .col-sm {
    width: 30%;
  }
  .col-sm img {
    width: 100%;
  }
  .col-lg {
    width: 46.7%;
  }
  .col-lg_images figure {
    width: 47%;
  }
  .col-lg_images figure + figure {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1111px) {
  .col-lg {
    width: 100%;
  }
  .col-lg_images img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  header  {
    height: 60vh;
  }
  header > div {
    height: 50vh;
    padding: 5vh 0;
  }
  main {
    padding-top: 0;
  }
  h1 {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 90vw;
    font-size: 4rem;
  }
  section {
    width: 90vw;
  }
  section > h2 {
    width: 90vw;
    font-size: 1.6rem;
  }
  .row {
    margin: -5% 0 0 -5%;
  }
  .col {
    margin: 5% 0 0 5%;
  }
  .col-sm {
    width: 45%;
  }
  .col-lg {
    width: 90vw;
  }
  .col-lg_images {
    margin-top: 2rem;
  }
  .contact > h2 {
    font-size: 1.5rem;
  }
  .contact > p {
    font-size: 1.4rem;
  }
  header .contact {
    position: relative;
    bottom: 0;
    left: 0;
    width: 90vw;
    margin: 10vh auto 0;
  }
  footer .contact{
    padding: 0 10vw;
  }
}

@media screen and (max-width: 754px) {
  header  {
    height: 75vh;
  }
  header > div {
    height: 65vh;
  }
}

@media screen and (max-width: 660px) {
  section > h2 {
    width: 80vw;
    font-size: 1.2rem;
  }
  section + section {
    padding: 0 0 1.5rem;
  }
  .row {
    margin: 0;
  }
  .col {
    float: none;
    margin: 0;
  }
  .col + .col {
    margin: 2rem 0 0;
  }
  .col-sm {
    width: 100%;
    height: auto;
  }
  .col-lg {
    width: 100%;
  }
  .col-sm h3 {
    font-size: 1rem;
  }
  .col-lg_images + .col-lg_images {
    margin-top: 1.5rem;
  }
  .col-lg_images figure {
    width: 100%;
  }
  .col-lg_images figure > img {
    width: 100%;
  }
  .col-lg_images figure + figure {
    margin: 1.5rem 0 0;
  }
}

@media screen and (max-width: 512px) {
  header  {
    height: 45%;
  }
  header > div {
    height: 45%;
  }
  h1 {
    width: 80%;
    font-size: 2.3rem;
  }
  .contact > p {
    font-size: 0.9rem;
  }
  header .contact {
    width: 80vw;
  }
  header .contact ul {
    text-align: center;
  }
}
*/