@charset "UTF-8";

/*———————————–———————————–
  Base Tags
———————————–———————————–*/

body {
  color: #727272;
  font-size: 90%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

header {
  height: 80vh;
  background: url("../images/ellekasai.jpg") no-repeat top right;
  background-size: cover;
}

header > div {
  position: relative;
  height: 100%;
}

main {
  padding: 1rem 0 3rem;
}

section {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
}

section > h2 {
  width: 22.5rem;
  font-size: 1.8rem;
}

section p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

footer {
  padding: 2rem 0 3rem;
  background-color: #dae2dd;
}

h1, h2, h3 {
  color: #99a599;
}

h1 {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 45rem;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -1px;
}

h1 > span {
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  margin: 0 0 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

p + h3 {
  margin-top: 2rem;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 1rem;
  color: #99a599;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li + li {
  margin-top: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #3BAF65;
  text-decoration: none;
}

a:hover {
  color: #2A7B47;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*———————————–———————————–
  Row & Column
———————————–———————————–*/

.row {
  margin: -2rem 0 0 -2rem;
}

.row:before,
.row:after {
  content:"";
  display:block;
  overflow:hidden;
}

.row:after {
  clear:both;
}

.col {
  float: left;
  margin: 2rem 0 0 2rem;
}

.col p {
  margin: 0;
}

.col p + p {
  margin-top: 0.5rem;
}

.col-sm {
  width: 22.5rem;
  height: 19rem;
}

.col-lg {
  width: 34.8rem;
}

.col-sm div {
  margin-bottom: 0.5rem;
}

.col-sm h3 {
  padding: 0.2rem 0 0;
}

.col-sm figure {
  margin-bottom: 1rem;
}

.col-sm > a {
  display: block;
  position: relative;
}

.col-sm > a:hover img {
  opacity: 0.6;
}

.col-lg div + div {
  margin-top: 2rem;
}

.col-lg_images {
  text-align: center;
}

.col-lg_images figure {
  display: inline-block;
  width: 16rem;
}

.col-lg_images figure + figure {
  margin-left: 2rem;
}

/*———————————–———————————–
  Contact
———————————–———————————–*/

.contact > h2 {
  width: 100%;
}

.contact > p {
  margin: 0;
  color: #99a599;
  font-size: 1.3rem;
}

.contact li {
  display: inline-block;
}

.contact li + li {
  margin-left: 1.5rem;
}

.contact a {
  color: #99a599;
}

.contact a:hover {
  color: #737B73;
}

header .contact {
  position: absolute;
  bottom: 8rem;
  left: 5rem;
  width: 40rem;
}

footer .contact {
  text-align: center;
}

/*———————————–———————————–
  Backgrounds
———————————–———————————–*/

section.bg-sales {
  width: 100%;
  background: url("../images/sales-white.jpg") no-repeat center center;
  background-size: cover;
}

.bg-sales_inner {
  width: 80vw;
  margin: 0 auto 3rem;
}

/*———————————–———————————–
  Tags
———————————–———————————–*/

.tag {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3rem 0.5rem !important;
  color: #fff !important;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  vertical-align: top;
}

.tag-purple {
  background-color: #dda2d0 !important;
}

.tag-cream {
  background-color: #f9d284 !important;
}

.tag-green {
  background-color: #2A7B47 !important;
}

/*———————————–———————————–
  Media Querys
———————————–———————————–*/

@media screen and (max-width: 1439px) {
  section {
    width: 76vw;
  }
  .row {
    margin: -5% 0 0 -3.3%;
  }
  .col {
    margin: 5% 0 0 3.3%;
  }
  .col-sm {
    width: 30%;
  }
  .col-sm img {
    width: 100%;
  }
  .col-lg {
    width: 46.7%;
  }
  .col-lg_images figure {
    width: 47%;
  }
  .col-lg_images figure + figure {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1111px) {
  header > div {
    background-color: rgba(1, 1, 1, 0.7)
  }
  .col-lg {
    width: 100%;
  }
  .col-lg_images img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  header  {
    height: 60vh;
  }
  header > div {
    height: 50vh;
    padding: 5vh 0;
  }
  main {
    padding-top: 0;
  }
  h1 {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 90vw;
    font-size: 4rem;
  }
  section {
    width: 90vw;
  }
  section > h2 {
    width: 90vw;
    font-size: 1.6rem;
  }
  .row {
    margin: -5% 0 0 -5%;
  }
  .col {
    margin: 5% 0 0 5%;
  }
  .col-sm {
    width: 45%;
  }
  .col-lg {
    width: 90vw;
  }
  .col-lg_images {
    margin-top: 2rem;
  }
  .contact > h2 {
    font-size: 1.5rem;
  }
  .contact > p {
    font-size: 1.4rem;
  }
  header .contact {
    position: relative;
    bottom: 0;
    left: 0;
    width: 90vw;
    margin: 10vh auto 0;
  }
  footer .contact{
    padding: 0 10vw;
  }
}

@media screen and (max-width: 754px) {
  header  {
    height: 75vh;
  }
  header > div {
    height: 65vh;
  }
}

@media screen and (max-width: 660px) {
  section > h2 {
    width: 80vw;
    font-size: 1.2rem;
  }
  section + section {
    padding: 0 0 1.5rem;
  }
  .row {
    margin: 0;
  }
  .col {
    float: none;
    margin: 0;
  }
  .col + .col {
    margin: 2rem 0 0;
  }
  .col-sm {
    width: 100%;
    height: auto;
  }
  .col-lg {
    width: 100%;
  }
  .col-sm h3 {
    font-size: 1rem;
  }
  .col-lg_images + .col-lg_images {
    margin-top: 1.5rem;
  }
  .col-lg_images figure {
    width: 100%;
  }
  .col-lg_images figure > img {
    width: 100%;
  }
  .col-lg_images figure + figure {
    margin: 1.5rem 0 0;
  }
}

@media screen and (max-width: 512px) {
  header  {
    height: 45%;
  }
  header > div {
    height: 45%;
  }
  h1 {
    width: 80%;
    font-size: 2.3rem;
  }
  .contact > p {
    font-size: 0.9rem;
  }
  header .contact {
    width: 80vw;
  }
  header .contact ul {
    text-align: center;
  }
  .contact i {
    font-size: 2rem;
  }
}
